body{
    overflow-x: hidden;
    /* background-color: #FFF3C4; 
    background-color: #D8ECF3; 
    background-color: #D0F0C0; 
    background-color: #EADCF8; 
    background-color: #F0FFF0; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(assets/Untitled\ design\ \(1\).png);
    
    background-repeat: repeat-y;
    background-size: auto;
    background-position: top center;

}