.artcard {
    display: flex;
    width: 225px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease;

    cursor: pointer;

    height: auto;
}

.artcard:hover{
    height: auto;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 12px 24px rgba(0, 0, 0, 0.08);
}

.artimage {
    background-color: lightgrey;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.artcard:hover .artimage{
    height: 250px;
}

.artimage img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.artinfo {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.artname {
    font-family: Roboto, verdana, arial;
    color: black;
    font-weight: bold;
    margin: 0;
}

.artist{
    font-family: Roboto, verdana, arial;
    color:#777;
    margin: 2px 0;
}

.like{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.like img {
    display: block;
    height: 20px;
    width: auto;
    cursor: pointer;
    transition: 0.1s ease;
}

.like img:hover {
    transform: scale(1.05);
}

.likecount{
    font-size: 14px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.popupoverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;
/* 
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease; */
}


.popupcontent{
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    position: relative;
}

#popupimg{
    max-height: 70vh;
    max-width: 100%;
    padding: 20px;
}

.close-btn{
    position: absolute;
    display: flex;
    top:10px;
    right: 15px;
    
    cursor: pointer;

    width: 2rem;
    height: 2rem;
}

.popupheart{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
    z-index: 100001;

}

.popupheart img {
    display: block;
    height: 20px;
    width: auto;
    cursor: pointer;
    transition: 0.1s ease;
    z-index: 100003;

}

.popupheart img:hover {
    transform: scale(1.05);
}

.popuplikecount{
    font-size: 16px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
  .artimage img {
    width: auto;
    max-width: 100%;
    height: 150;
    object-fit: cover;
  }
  
  .artimage {
    justify-content: center; 
  }
}