.mainsection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    
}

.layer1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding:30px 60px 10px 30px;
}

.trending-tags{
    display: flex ;
    flex-direction: column;
    flex-grow: 1;
}

.trending-tags h1{
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight:400;
    color: #FFDD95;
}

.trending {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    
}

.trending a {
    text-decoration: none;
    background-color: white;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight:400;
    color: black;

    width: auto;
    height: auto;
    padding: 8px 15px;

    border-radius: 20px;
    
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    transition: all 150ms ease;
}

.trending  a:hover {
    transform: scale(1.1);
}

.searchbar{
    display: flex;
    align-items: center;
    /* padding: 3px 10px; */
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    max-width: 300px;
}

.searchInput {
    flex:1;
    border: none;

    padding: 10px 10px;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
}

.searchButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}

.searchButton img {
    display: block;
    height: 20px;
    width: auto;
}

.layer2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.featured-artwork{
    flex: 1;
    max-width: 1000px;
    background-color: #5a5a5a;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.featured-artwork h1{
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight:400;
    color: #FFDD95;
}

.featured-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.see-more{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: #FFDD95;
    text-decoration: underline;
    transition: color 0.3 ease;
    align-self: flex-end;

}
.see-more:hover{
    color: white;
}
.artflex{
    display: grid;
 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.galleryredirect{
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background: lightgray;
    cursor: pointer;
}

.rightside {
    width: 350px;
    flex-shrink: 0;
    
    
}

.rightside h1{
    width: 350px;
    flex-shrink: 0;
    
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight:400;
    color: #FFDD95;
    text-align: center;
}

.tagflex{
    display: grid;
    /* justify-content: space-between; */
    background: #5a5a5a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.tagflex a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #5a5a5a;
    border-radius: 10px;
    padding:10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: all 100ms ease;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight:600;
}

.tagflex a:hover {
    background: gray;
    transform: scale(1.05);
}

@media only screen and (max-width:600px){
    .layer2 {
        flex-direction: column;
    }
    .rightside {
        width: 100%;
        margin-top: 20px;
    }
    .featured-artwork{
        width: 100%;
    }
}