body{
    overflow-x: hidden;
    background: linear-gradient(135deg, #2c3e50, #4b3869, #1e3c72, #2f4f4f, #3c3b3f);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.tagcontainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.tag {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    scroll-margin-top: 40vh;
    background-color: #3c3b3f;
    padding: 40px;
    border-radius: 20px;
}

body h1{
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight:400;
    color: #FFDD95;
}
.toplayer {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/xOujtI.jpg);
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toplayer h1{
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-size: 90px;
    font-weight:400;
    color: #FFDD95;
}

@media only screen and (max-width: 768px) {
    .tagcontainer {
        flex-direction: column;
        padding: 15px;
        gap: 20px;
        align-items: center;
    }

    .tags {
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .tag {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    
    }

    body h1 {
        font-size: 30px;
        text-align: center;
    }

    .toplayer {
        height: 180px;
        padding: 10px;
        justify-content: center;
    }

    .toplayer h1 {
        font-size: 40px;
        text-align: center;
        padding: 0 10px;
    }
}